/*---------------------HOME PAGE SECTION---------------------------*/
/*--------------------------------------------------------------*/

body {
  margin: 0;
  font-family: "Segoe UI", Arial, sans-serif;
}

/* Navigation */
nav {
  background-color: #000;
  color: #fff;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.logo img {
  height: 40px;
}

.logo-text {
  display: flex;
  align-items: center;
  flex: 1;
}

.logo-text h3 {
  margin: 0;
  margin-left: 7px;
}

.nav-links {
  flex: 1; /* take up remaining space */
  display: flex;
  justify-content: center; /* center align the links */
}

nav ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
  justify-content: space-between; /* evenly space the links */
  flex-wrap: wrap; /* allow links to wrap to the next line if needed */
}

nav li {
  margin-right: 15px;
}

nav a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
}

/* Responsive Styles */
@media screen and (max-width: 767px) {
  /* Styles for small devices */
  .container {
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .logo {
    margin-bottom: 10px;
  }
  
  .nav-links {
    flex: 1 0 100%;
    justify-content: center;
  }
  
  nav li {
    margin-right: 10px;
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  /* Styles for medium devices */
  .container {
    padding: 15px;
  }
  
  nav li {
    margin-right: 10px;
  }
}

@media screen and (min-width: 1024px) {
  /* Styles for large devices */
  .container {
    padding: 20px;
  }
}



/* Slideshow */
.slideshow-container {
  position: relative;
}

#slideshow img {
  max-width: 100%;
  height: auto;
}

/* Slideshow button controls */
#slideshow-controls {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.slideshow-button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 24px;
  color: #000;
  padding: 8px;
  margin: 0 4px;
  transition: opacity 0.3s;
}

/* Responsive Styles */
@media screen and (max-width: 767px) {
  /* Styles for small devices */
  #slideshow img {
    height: auto;
    width: 100%;
  }

  .slideshow-button {
    font-size: 18px;
    padding: 6px;
    margin: 0 2px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  /* Styles for medium devices */
  #slideshow img {
    height: auto;
    width: 100%;
  }
}

@media screen and (min-width: 1024px) {
  /* Styles for large devices */
  #slideshow img {
    height: 400px;
    width: auto;
  }
}









